/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Press Start 2P', sans-serif;
    background: linear-gradient(to right, #f06, #1f8cd8);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.app-container {
    background-color: #fff;
    border-radius: 20px;
    padding: 40px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 300px;
    position: relative;
    overflow: hidden;
}

header h1 {
    font-size: 32px;
    color: #ff4f81;
    margin-bottom: 10px;
}

header p {
    font-size: 14px;
    color: #333;
    margin-bottom: 30px;
}

.coin-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.coin-icon {
    width: 40px;
    margin-right: 10px;
    animation: spin 3s infinite linear;
}

h2#balance {
    font-size: 36px;
    color: #28a745;
    font-weight: bold;
    margin-left: 5px;
}

.tap-button {
    background-color: #ffcc00;
    color: #fff;
    font-size: 18px;
    padding: 15px 30px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.tap-button:hover {
    background-color: #f39c12;
    transform: scale(1.1);
}

footer p {
    font-size: 12px;
    color: #aaa;
    margin-top: 30px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
